{% extends 'base.html' %}

{% block content %}
<div style="min-height: 90vh;">
        <h2 style="color: #edf5fc; text-align: center;">Create Feedback Link</h2>
        <form method="post" style="max-width: 400px; margin: 0 auto; background-color: #272d2d; padding: 20px; border-radius: 15px; color: #edf5fc;">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" style="font-weight: bold;">Link Name</label>
                <input type="text" name="name" id="name" class="form-control" style="font-weight: bold; background-color: #272d2d; color: #edf5fc;">
            </div>
            <div class="form-group">
                <label for="description" style="font-weight: bold;">Link Description</label>
                <textarea name="description" id="description" class="form-control" rows="4" style="font-weight: bold; background-color: #272d2d; color: #edf5fc;"></textarea>
            </div>
            <br>
            <button type="submit" class="btn" style="background-color: #23ce6b; border-radius: 10px; min-width: 100px; font-weight: bold; color: #272d2d;">Generate Link</button>
        </form>
    </div>
{% endblock %}
