{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-light">Welcome, {{ user.username }}!</h2>
    
    <!-- Feedback Links with Feedbacks -->
    <div class="row">
        {% for feedback_data in feedbacks_data %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header" style="background-color: #272d2d; color: #edf5fc;">
                        Form Link: <a href="{% url 'submit_feedback' feedback_data.link.link %}" id="feedback-link-{{ feedback_data.link.link }}" style="color: #23ce6b;">
                            https://afc-six.vercel.app/submit_feedback/{{ feedback_data.link.link }}/
                        </a>
                    </div>
                    <div class="card-body" style="background-color: #272d2d;">
                        
                                <ul class="list-group">
                                    <li class="list-group-item"  style="background-color: #272d2d; color: #edf5fc;"><p><strong>Name:</strong> {{ feedback_data.link.name }}</p></li>
                                    <li class="list-group-item"  style="background-color: #272d2d; color: #edf5fc;"><p><strong>Description:</strong> {{ feedback_data.link.description }}</p></li>
                                </ul>
                                <br>
                                <a class="btn" href="{% url 'view_feedback' feedback_data.link.link %}" style="background-color: #23ce6b; font-weight: bold; color: #272d2d;">
                                    View Feedbacks
                                </a>
                                <button class="btn" data-clipboard-target="#feedback-link-{{ feedback_data.link.link }}" style="background-color: #23ce6b; font-weight: bold; color: #272d2d;">
                                    Copy Link
                                </button>
                              
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
    var clipboard = new ClipboardJS('.btn');
    
    clipboard.on('success', function(e) {
        console.log('Text: ', 'http://127.0.0.1:8000/submit_feedback/'+ e.text);
    });
    
    clipboard.on('error', function(e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
    });
</script>
</body>
</html>
{% endblock %}